.body {
	font-family: "Roboto", sans-serif;
	background-image: url(../img/background\ 1.jpg);
	background-size: cover;
}
.width {
	width: 1028px;
	margin: 0 auto;
}
.header {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	grid-column-gap: 600px;
}
.header-logo-bar {
	display: flex;
	padding: 51px 0px 22px 0px;
	align-items: flex-end;
}
.header-logo-bar:hover .header-logo-text-top {
	color: #f26522;
}
.header-logo-bar:hover .header-logo-text-buttn {
	color: #f26522;
}
.header-logo-bar:hover .logo-house-hiden {
	display: block;
	position: absolute;
	top: -31px;
}
.link {
	text-decoration: none;
	color: white;
}
.link:hover {
	color: #f26522;
}
.header-logo {
	position: relative;
}
.header-logo:hover .logo-house-hiden {
	display: inline-block;
}
.logo-house-hiden {
	display: none;
	left: 0;
}
.header-logo-text {
	margin-left: 8px;
}
.header-logo-text-top {
	font-size: 29px;
	font-weight: 700;
}
.header-logo-text-buttn {
	font-size: 18px;
	font-weight: 700;
}
.contact-block {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	padding: 46px 0px 17px 0;
}
.container-info-box {
	position: relative;
}
.contact-mai {
	display: block;
	margin-bottom: 19px;
}
.contact-phone {
	display: block;
}
.container-photo {
	width: 300px;
	height: 220px;
	overflow: hidden;
	margin-bottom: 20px;
}
.main {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 61px;
	grid-row-gap: 37px;
}
.item-text {
	font-size: 18px;
	line-height: 18px;
	text-align: center;
}
.hiden-price {
	display: none;
	position: absolute;
	color: white;
	background-color: #f26522;
	height: 55px;
	bottom: 37px;
	width: 300px;
}
.from {
	display: block;
	font-size: 10px;
	margin: 7px 257px 8px 16px;
}
.price {
	display: inline-block;
	font-size: 20px;
	margin: 0px 128px 12px 16px;
}
.details {
	font-size: 14px;
}
.container-info-box:hover .hiden-price {
	display: block;
}
.details::after {
	content: "\203a";
	display: inline-block;
	font-family: "Font Awesome 5 Free", "Font Awesome 5 Brands";
	font-weight: 900;
	width: 5px;
	height: 10px;
	margin-left: 16px;
}
.footer {
	text-align: center;
	margin-top: 49px;
}
.copyright {
	font-size: 12px;
	margin-bottom: 15px;
	color: white;
}
